body, html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	display: block;
	justify-content: center;
	background-position: center;
}

/*Navegador completo*/
.header {
	display: flex;
	justify-content: center;
	width: 100%;
}

a {
	text-decoration: none;
}

.contenedorPrincipal {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
	padding-left: 10px;
}

.navegadorPrincipal {
	background-color: rgb(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 120px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.navegadorPrincipalS {
	background-color: rgb(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 120px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.logo-contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.imagenLogo {
	max-width: 100%;
	height: auto;
	min-width: 200px;
	margin-left: 20px;
	left: 0;
}

.imagenLogo2 {
	max-width: 100%;
	height: auto;
	min-width: 100px;
	margin-left: 20px;
	left: 0;
}

.boton-contenedor {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	margin-right: 40px;
}

.boton-contenedor2 {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	margin-right: 40px;
	position: relative;
}

.botonNavegador {
	font-family: "Bangers", sans-serif;
	width: 150px;
	height: 70px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 26px;
	transition: box-shadow 0.5s ease;
}

.botonNavegador:hover {
	box-shadow: 5px 5px 15px rgb(255, 103, 15), -5px -5px 15px
		rgb(255, 103, 15);
}

.botonNavegador2 {
	font-family: "Bangers", sans-serif;
	width: clamp(100px, 15vw, 150px);
	height: 70px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 26px;
	transition: box-shadow 0.5s ease;
}

.botonNavegador2:hover {
	box-shadow: 5px 5px 15px rgb(255, 103, 15), -5px -5px 15px
		rgb(255, 103, 15);
}

/* Boton de administrador */
.botonAdmin .botonUser {
	font-family: "Bangers", sans-serif;
	width: 150px;
	height: 70px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 26px;
	transition: box-shadow 0.5s ease;
}

.botonUser {
	font-family: "Bangers", sans-serif;
	width: 150px;
	height: 70px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 26px;
	transition: box-shadow 0.5s ease;
}

.botonIconoIS {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 20px;
	transition: box-shadow 0.5s ease;
	margin-left: 30px;
	margin-right: 10px;
}

.icono {
	font-size: 35px;
}

.botonIconoIS:hover {
	box-shadow: 5px 5px 15px rgb(255, 103, 15), -5px -5px 15px
		rgb(255, 103, 15);
}

.menu-desplegable {
	display: none;
	position: absolute;
	top: calc(100% + 10px);
	transform: translateX(13%);
	width: clamp(150px, 0.1%, 200px);
	background-color: #000;
	border-radius: 10px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

/* Opciones del menú */
.menu-desplegable a {
	display: block;
	padding: 10px; /* Espaciado interno */
	color: white;
	text-decoration: none;
	font-family: "Bangers", sans-serif;
	font-size: 18px;
	text-align: center; /* Centrar texto */
	transition: background-color 0.3s ease;
}

/* Efecto hover en las opciones */
.menu-desplegable a:hover {
	box-shadow: 5px 5px 15px rgb(255, 103, 15), -5px -5px 15px
		rgb(255, 103, 15);
}

/* Ajuste para pantallas pequeñas */
@media ( max-width : 767px) {
	.navegadorPrincipal {
		flex-direction: column;
		height: auto;
		margin-top: 10px;
	}
	.boton-contenedor {
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
}

/* Aqui empieza la parte main */
/* PC */
.contenedorMain {
	width: 100%;
	padding-bottom: 10px;
}

.contenedor-carrusel {
	width: 100%;
	height: 750px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

.botones {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.botones button {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	border-radius: 100%;
	cursor: pointer;
	font-size: 22px;
	margin-bottom: -20px;
	transition: box-shadow 0.5s ease;
}

.boton1:hover {
	box-shadow: 0.5px 0.5px 10px white, -0.5px -0.5px 10px white;
}

.boton2:hover {
	box-shadow: 0.5px 0.5px 10px white, -0.5px -0.5px 10px white;
}

#contenido-carrusel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.titulo-usuario {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
	color: white;
	font-family: "Press Start 2P", cursive;
	text-transform: uppercase;
}

.contenedorTextoEImagen {
	width: 90%;
	height: 600px;
	background-color: rgb(206, 206, 206);
	border: 1.5px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center; /* Alinea los elementos verticalmente al centro */
	justify-content: space-between;
}

.imagen-usuario {
	border: 1.5px solid black;
	width: 70%;
	min-height: 120px;
	max-height: 30%;
	border-radius: 20px;
	margin: 20px 0px 20px;
	object-fit: cover;
}

.texto-usuario {
	width: 100%;
	height: 100%;
	font-size: 2vh;
	font-family: "Bangers", sans-serif;
	color: black;
	word-wrap: break-word;
	flex-grow: 1;
	padding: 0px 5px 0px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
}

.contenedorBoton {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	/* Coloca el botón al final del contenedor */
	align-items: end;
	transform: translateX(-2%);
}

.corazonBoton {
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	transform-origin: center;
}

.corazonBoton.clicado {
	color: rgb(255, 103, 15);
	animation: bombeo 2s ease infinite;
}

.corazonBoton i {
	font-size: 24px;
}

@keyframes bombeo { 0% {
	transform: scale(1);
}

50%
{
transform
:
scale(
1.2
);
}
100%
{
transform
:
scale(
1
);
}
}
/* LA derecha de la pagina */
.parteDerechaMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150%;
}

.zonaBienvenida {
	width: 100%;
	height: 300px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.zonaGruposMain {
	width: 100%;
	height: 395px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

.tituloBienvenida {
	height: 10px;
	font-size: 20px;
	font-family: "Press Start 2P";
	color: white;
	text-transform: uppercase;
	margin-bottom: -25px;
}

.contenedorTextoBienvenida {
	width: 100%;
	height: 100%;
	margin-top: 50px;
	border: 1px solid #01137a;
	background-color: rgb(206, 206, 206);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	color: black;
	font-family: "Bangers", sans-serif;
	font-size: 20px;
	word-wrap: break-word;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedorGrupos {
	scrollbar-width: none;
	width: 100%;
	height: 90%;
	margin-top: 50px;
	border: 1px solid black;
	background-color: rgb(206, 206, 206);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: "Bangers", sans-serif;
	font-size: 2.5vh;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
}

.contenedorGrupos::-webkit-scrollbar {
	scrollbar-width: none;
	display: none; /* Chrome, Safari */
}

.trozoGrupo {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	color: black;
	font-family: "Bangers", sans-serif;
	width: 90%;
	max-height: 20%;
	border: 1px solid black;
	border-radius: 10px;
}

@keyframes olaPalpitante {
    0%, 100% { color: black; }
    50% { color: rgb(255, 103, 15); text-shadow: 0px 0px 5px rgba(255, 103, 15, 0.5); }
}

/* Aplica el efecto en oleada con diferentes tiempos de inicio */
.verGrupo {
    text-decoration: none;
    color: black;
    animation: olaPalpitante 2s ease-in-out infinite;
}

/* Seleccionamos los enlaces dentro de cada "trozoGrupo" */
.trozoGrupo:nth-child(1) .verGrupo { animation-delay: 0s; }
.trozoGrupo:nth-child(2) .verGrupo { animation-delay: 0.3s; }
.trozoGrupo:nth-child(3) .verGrupo { animation-delay: 0.6s; }
.trozoGrupo:nth-child(4) .verGrupo { animation-delay: 0.9s; }
.trozoGrupo:nth-child(5) .verGrupo { animation-delay: 1.2s; }



/* TABLETS Y PORTATILES */
.rowTablet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.zonaGruposMain2 {
	width: 100%;
	height: 600px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

.contenido-carrusel2 {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contenedor-carrusel2 {
	width: 100%;
	height: 600px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

.titulo-usuario2 {
	font-size: 24px;
	margin-bottom: 15px;
	color: white;
	font-family: "Press Start 2P", cursive;
	text-transform: uppercase;
}

.imagen-usuario2 {
	border: 1.5px solid black;
	width: 70%;
	min-height: 120px;
	max-height: 30%;
	border-radius: 20px;
	margin: 20px 0px 20px;
	object-fit: cover;
}

.corazonBoton2 {
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	transform-origin: center;
}

.corazonBoton2.clicado {
	color: rgb(255, 103, 15);
	animation: bombeo 2s ease infinite;
}

.corazonBoton2 i {
	font-size: 24px;
}

.texto-usuario2 {
	width: 100%;
	height: 100%;
	font-size: 2vh;
	font-family: "Bangers", sans-serif;
	color: black;
	word-wrap: break-word;
	flex-grow: 1;
	padding: 0px 5px 0px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
}

.contenedorTextoEImagen2 {
	width: 90%;
	height: 100%;
	background-color: rgb(206, 206, 206);
	border: 1.5px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MOVILES */
.towMovil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenido-carrusel3 {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contenedor-carrusel3 {
	width: 100%;
	height: 600px;
	margin-top: 50px;
	border: 1px solid #01137ac2;
	background-color: rgba(11, 17, 49, 0.6);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

.titulo-usuario3 {
	font-size: 24px;
	margin-bottom: 15px;
	color: white;
	font-family: "Press Start 2P", cursive;
	text-transform: uppercase;
}

.imagen-usuario3 {
	border: 1.5px solid black;
	width: 70%;
	min-height: 120px;
	max-height: 30%;
	border-radius: 20px;
	margin: 20px 0px 20px;
	object-fit: cover;
}

.corazonBoton3 {
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	transform-origin: center;
}

.corazonBoton3.clicado {
	color: rgb(255, 103, 15);
	animation: bombeo 2s ease infinite;
}

.corazonBoton3 i {
	font-size: 24px;
}

.texto-usuario3 {
	width: 100%;
	height: 100%;
	font-size: 2vh;
	font-family: "Bangers", sans-serif;
	color: black;
	word-wrap: break-word;
	flex-grow: 1;
	padding: 0px 5px 0px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
}

.contenedorTextoEImagen3 {
	width: 90%;
	height: 100%;
	background-color: rgb(206, 206, 206);
	border: 1.5px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alerta-personalizada {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.alerta-contenido {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	border: 4px solid black;
	padding: 20px 40px;
	text-align: center;
	font-family: "Bangers", sans-serif;
	box-shadow: 8px 8px 0px black;
	pointer-events: auto;
	border-radius: 20px;
	max-width: 80%;
}

.alerta-contenido p {
	font-size: 22px;
	margin-bottom: 20px;
	color: black;
}

.alerta-contenido button {
	background: white;
	color: black;
	border: 4px solid black;
	font-family: "Bangers", sans-serif;
	font-size: 22px;
	padding: 10px 20px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s;
}

/* Ajustes para móviles */
@media ( max-width : 600px) {
	.alerta-contenido {
		width: 90%;
		padding: 15px;
		font-size: 18px;
	}
	.alerta-contenido p {
		font-size: 18px;
	}
	.alerta-contenido button {
		font-size: 18px;
		padding: 8px 16px;
	}
}